NEXT_PUBLIC_LOCALE=en-gb
NEXT_PUBLIC_URL=http://localhost:3000

NEXTAUTH_SECRET=myLovelySecret
NEXTAUTH_URL=http://localhost:3000


COGNITO_APP_CLIENT_ID=
COGNITO_USER_POOL_ID=

GITHUB_ID=
GITHUB_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


MEMBERS_URL=http://localhost:3001

FLAGS_SECRET=anotherLovelySecret
GITHUB_ENABLED=0
GOOGLE_ENABLED=0

DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=nextjs_multi_zone_app
LOG_LEVEL=debug


